In [1]:
import pandas as pd

In [14]:
events_types = {"1A": {"start": "X", "end":"Z" },\
                "1B": {"start": "X", "end":"Z" },\
                "2": {"start": "A", "end":"Y" },\
                "3A": {"start": "X", "end":"Z" },\
                "3B": {"start": "X", "end":"Z" },\
                "4A": {"start": "A", "end":"Y" },\
                "4B": {"start": "A", "end":"Y" }}

In [10]:
events = pd.read_csv("../data/events.csv")

In [11]:
events = events[ events["significativo"]<0.05]

In [12]:
events.reset_index(inplace=True, drop = True)
events

,A,B,X,Y,Z,chiamate,evento,p0,p_cappuccio,significativo,timestamp,z
0,NaN,NaN,1773,1766,1849.0,4,1A,0.0,0.000059,0.0,1470574374,inf
1,NaN,NaN,1765,1766,1767.0,4,1A,0.0,0.000118,0.0,1472074589,inf
2,NaN,NaN,1765,1766,1767.0,4,1A,0.0,0.000118,0.0,1472074590,inf
3,NaN,NaN,2102,2050,2099.0,2,1A,0.0,0.000029,0.0,1478459725,inf
4,NaN,NaN,2071,34458,2058.0,16,1A,0.0,0.000236,0.0,1485175092,inf
...,...,...,...,...,...,...,...,...,...,...,...,...
12210,45991.0,45992.0,33400,33400,NaN,6,4B,0.0,0.000119,0.0,1553971105,inf
12211,45995.0,46551.0,33400,33400,NaN,3,4B,0.0,0.000239,0.0,1554059165,inf
12212,45995.0,46551.0,33400,33400,NaN,3,4B,0.0,0.000239,0.0,1554059185,inf
12213,45995.0,46551.0,33400,33400,NaN,3,4B,0.0,0.000239,0.0,1554059222,inf
12214,45995.0,46551.0,33400,33400,NaN,3,4B,0.0,0.000239,0.0,1554059253,inf

In [ ]:
for i, row in events.iterrows():